body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

header img {
    width: 150px;
}

button {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #800080;
}
